main {
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.aside1 {
    height: 100vh;
}
#textbox {
    padding-bottom: 100px;
    border: solid violet 2px;
    width: 98%;
}
footer {
    text-align: center;
}
article {
    grid-template-rows: repeat(1fr, 5);
    background-color: beige;
    height: 100vh;
}

.topbuttons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.bottombutton {
    display: flex;
    justify-content: right;
}
button {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}

.savebut {
    margin-right: 15px;
}

.linkedin {
    background-color: transparent;
    border: none;
}

.footerbutton {
    display: flex;
    justify-content: center;
}

.titleheader {
    display: flex;
    justify-content: center;
}

.aside1 {
    text-align: center;
    background-color: #F9F3EC;
}

.aboutul {
    display: flex;
    justify-content: right;
}

.about {
    display: inline-flex;
    list-style-type: none;   
    padding: 10px;
}
.notelist {
    list-style-type: square;
}

@media screen and (max-width: 600px) {
    main{
        display: grid;
        grid-template-columns: 1fr;
        height: auto;
    }
    article {
        grid-template-rows: repeat(1fr, 5);
        background-color: beige;
        height: 100vh;
    }
    .aside1 {
        display: grid;
        justify-content: center;
        height: 15vh;
    }
}