main {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#textbox {
    padding-bottom: 100px;
    border: solid violet 2px;
    width: 98%;
}

footer {
    text-align: center;
}

.section {
    grid-template-rows: repeat(1fr, 4);
    height: 100vh;
}

.darkactionbutton {
    background-color: darkslategrey;
    color: white;
}

.darkthemestyling {
    background-color: rgb(43, 39, 39);
    color: white;
}

.asidedarkthemestyling {
    background-color: rgb(41, 38, 38);
    color: white;
}

.lightthemearticle {
    background-color: beige;
}

.lightthemeaside {
    background-color: #F9F3EC;
    color: black;
}

.topbuttons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-right: 5px;
}

.darkthemebuttondark {
    background-color: rgb(43, 39, 39);
}

.darktheme {
    background-color: #6F6A87;
}

.aside1 {
    height: 100vh;
    text-align: center;
}

.newnote {
    background-color: #4b7171
}

.bottombutton {
    display: flex;
    justify-content: right;
    padding-right: 5px;
}
button {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}

.savebut {
    background-color: #5394A0;
    margin-right: 15px;
}

.cancel {
    background-color: #D9827C;
}

.linkedin {
    background-color: transparent;
    border: none;
}

footer {
    color: #4B7171;
}
.footerbutton {
    display: flex;
    justify-content: center;
}
.h1-footer {
    margin-bottom: 0px;
}

.titleheader {
    display: flex;
    justify-content: center;
    color:#4B7171;
}

.aboutul {
    display: flex;
    justify-content: right;
    color: #4b7171;
}

.about {
    display: inline-flex;
    list-style-type: none;   
    padding: 10px;
}
.notelist {
    list-style-type: square;
    color: #4B7171;
}

@media screen and (max-width: 600px) {
    main{
        display: grid;
        grid-template-columns: 1fr;
        height: auto;
    }
    
    article {
        grid-template-rows: repeat(1fr, 5);
        background-color: beige;
        height: 100vh;
    }

    .aside1 {
        display: grid;
        justify-content: center;
        height: 20vh;
        margin: 0px;
    }

    .notelist {
        margin:0px;
    }
}